<%-include("./partials/header.ejs")%>

<section class="bodyDisplay py-3">
    <div class="container text-center">
        <h2 class="font-monospace">Our Products</h2>
        <form action="/product" method="POST">
          <div class="row text-center displayCategory">
            <div class="col border"><input class="btn text-capitalize font-monospace" type="submit" name="choice" value="All Product"></div>
            <%category.forEach(category=>{%>
              <div class="col border"><input class="btn text-capitalize font-monospace" type="submit" name="choice" value="<%=category%>"></div>
            <%})%>
          </div>
        </form>
        
        <div class="row">
            <% if(data){
            data.forEach(item => {%>
              <div class="card col-3 mx-2 my-2" style="width:16rem">
                <div class="cardImgContainer" >
                  <img src="<%=item.image%>" class="card-img-top cardImg img-fluid" alt="...">
                </div>
                <div class="card-body text-wrap text-truncate">
                  <h5 class="card-title"><%=item.title%></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">$ <%=item.price%></h6>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                <form action="/detail" method="POST">
                  <input type="hidden" name="index" value="<%=item.id%>">
                  <button type="submit" class="btn">Details</button>
                </form>
                  <a href="#" class="btn btn-primary text-end disabled">Add to cart</a>
                
                </div>
              </div>
                <%})}else{%>
                   <p>Error: <%= error ? error.data : "No data available" %></p>
                <%}%> 
        </div>
    </div>
</section>

<%-include("./partials/footer.ejs")%>